.lander_wrapper{
    width: 90%;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.lander_content{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.lander_left{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.lander_left h1{
    font-size: 8rem;
    margin: 0;
    padding: 0;

}
.lander_left p{
    font-size: 2rem;
}

.lander_partners{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.lander_content_mobile{
    display: none;
}

@media only screen and (max-width: 1024px) {
    .lander_wrapper{
        width: 90%;
        
    }
    .lander_content_mobile{
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    .lander_content{
        display: none;

    }

    .lander_left{
        width: 100%;
    }

    .lander_right{
        width: 100%;
    }

    .lander_right img{
        width: 100%;
    }

    .lander_content_text{
        width: 100%;
    }
    .lander_content_text button{
        width: 100% !important;
    }
    .lander_partners{
        gap: 32px;
        justify-content: flex-start;
    }

    .lander_left h1{
        font-size: 7rem;
    }
    
}