.section_head_wrap{
    width: 100%;
    display: flex;
    gap: 48px;
    align-items: center;
}

.section_head{
    background-color: #B9FF66;
    height: fit-content;
    padding: 0rem 1rem;
    font-size: 4rem;
    color: #000;
    border-radius: 0.7rem;
    width: fit-content;
}

.section_head h3{
    margin: 0;
}

.section_text{
    width: 50%;
    font-size: 1.8rem;
    color: #000;
}

@media only screen and (max-width: 1024px) {
    .section_head_wrap{
        flex-direction: column;
        gap: 16px;
        align-items: center;

    }

    .section_head{
        
        text-align: center;
    }

    .section_text{
        width: 60%;
        text-align: center;
    }
}